
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <h4 id="myProjectLabel">Create Project</h4>
            <jhi-alert-error></jhi-alert-error>
    <div class="row">
            <div class="col-xs-6 form-group" >
                <label class="control-label" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.project.name" required
                />
            </div>
            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_accoutManager">Accout Manager</label>
                <input type="text" class="form-control" name="accoutManager" id="field_accoutManager"
                       ng-model="vm.project.accoutManager" required
                />
            </div>
            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_presalesArchitect">Presales Architect</label>
                <input type="text" class="form-control" name="presalesArchitect" id="field_presalesArchitect"
                       ng-model="vm.project.presalesArchitect" required
                />
            </div>
            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_defaultProjectMargin">Default Project Margin</label>
                <input type="number" class="form-control" name="defaultProjectMargin" id="field_defaultProjectMargin"
                       ng-model="vm.project.defaultProjectMargin"
                />
            </div>
    </div>
    <div class="row">

            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_subcontractProjectMargin">Subcontract Project Margin</label>
                <input type="number" class="form-control" name="subcontractProjectMargin" id="field_subcontractProjectMargin"
                       ng-model="vm.project.subcontractProjectMargin"
                />
            </div>
            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_pmpercentage">Pmpercentage</label>
                <input type="number" class="form-control" name="pmpercentage" id="field_pmpercentage"
                       ng-model="vm.project.pmpercentage"
                />
            </div>
            <div class="col-xs-6 form-group">
                <label class="control-label" for="field_risk">Risk</label>
                <input type="number" class="form-control" name="risk" id="field_risk"
                       ng-model="vm.project.risk"
                />
            </div>
    </div>
            <div class="form-group">
                <label class="control-label">Phases</label>
                <fieldset class="field_set" ng-repeat="phase in phases">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{phase.name}}</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset class="field_set" ng-repeat="task in phase.Tasks">
                                <div class="col-xs-2 form-group">
                                    <label class="control-label" for="field_task_name">Name</label>
                                    <input type="text" class="form-control" name="tname" id="field_task_name" ng-model="task.tname"/>
                                </div>
                                <div class="col-xs-2 form-group">
                                    <label class="control-label" for="field_estimatedHours">Estimated Hours</label>
                                    <input type="number" class="form-control" name="estimatedHours" id="field_estimatedHours" ng-model="task.ehours"/>
                                </div>
                                <div class="col-xs-1 form-group">
                                    <label class="control-label" for="field_resource">Skill</label>
                                    <select class="form-control" name="skill" ng-model="task.skill" id="field_skill" ng-change="task.cost = updateCost(task.skill)">
                                        <option value="INT1">INT1</option>
                                        <option value="INT2">INT2</option>
                                        <option value="INT3">INT3</option>
                                        <option value="ENG1">ENG1</option>
                                        <option value="ENG2">ENG2</option>
                                        <option value="ENG3">ENG3</option>
                                        <option value="CSLTG">CSLTG</option>
                                        <option value="PC">PC</option>
                                        <option value="PM1">PM1</option>
                                        <option value="PM2">PM2</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 form-group">
                                    <label class="control-label" for="field_resource">Resource</label>
                                    <select class="form-control" name="resource" id="field_resource" ng-model="task.resource">
                                        <option value="GW_PS_VIRT">GW_PS_VIRT</option>
                                        <option value="GW_PS_SYSTEMS">GW_PS_SYSTEMS</option>
                                        <option value="GW_PS_STORAGE">GW_PS_STORAGE</option>
                                        <option value="GW_PS_SEC">GW_PS_SEC</option>
                                        <option value="GW_PS_PROJMNGMT">GW_PS_PROJMNGMT</option>
                                        <option value="GW_PS_PC">GW_PS_PC</option>
                                        <option value="GW_PS_NETWORK">GW_PS_NETWORK</option>
                                        <option value="GW_PS_MS">GW_PS_MS</option>
                                        <option value="GW_PS_MOBILITY">GW_PS_MOBILITY</option>
                                        <option value="GW_PS_INT_FLD">GW_PS_INT_FLD</option>
                                        <option value="GW_PS_COLLAB">GW_PS_COLLAB</option>
                                        <option value="GW_PS_CLOUD">GW_PS_CLOUD</option>
                                        <option value="GW_PS_APPS">GW_PS_APPS</option>
                                        <option value="GW_PS_AI">GW_PS_AI</option>
                                        <option value="GW_CONSULTING_VIRT">GW_CONSULTING_VIRT</option>
                                        <option value="GW_CONSULTING_STORAGE">GW_CONSULTING_STORAGE</option>
                                        <option value="GW_CONSULTING_SEC">GW_CONSULTING_SEC</option>
                                        <option value="GW_CONSULTING_NET">GW_CONSULTING_NET</option>
                                        <option value="GW_CONSULTING_MS">GW_CONSULTING_MS</option>
                                        <option value="GW_CONSULTING_COLLAB">GW_CONSULTING_COLLAB</option>
                                        <option value="GW_CONSULTING_CLD">GW_CONSULTING_CLD</option>
                                        <option value="GW_CONSULTING_AI">GW_CONSULTING_AI</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 form-group">
                                    <label class="control-label" for="field_cost">Cost</label>
                                    <input type="number" class="form-control" name="cost" id="field_cost" ng-model="task.cost"/>
                                </div>
                                <div class="col-xs-2 form-group">
                                    <label class="control-label" for="field_numberOfResources">No Of Resources</label>
                                    <input type="number" class="form-control" name="numberOfResources" id="field_numberOfResources" ng-model="task.nofr"/>
                                </div>
                                <div class="col-xs-2 form-group">
                                    <!--<label class="control-label" for="field_subTotal">SubTotal</label>-->
                                    <!--<input type="number" class="form-control" name="subTotal" id="field_subTotal"/>-->
                                    <button type="button" class="glyphicon glyphicon-plus btn-small" ng-click="addTask(phase.id, tname, ehours, tcost, resource, nofr)"></button>
                                </div>
                            </fieldset>
                            <!--<div id="tasksDisplay">-->
                                <!--{{ phase.Tasks }}-->
                            <!--</div>-->
                        </div>
                    </div>
                </fieldset>
            </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
