
<div>
    <h2>Project Report: {{vm.project.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Accout Manager</span></th>
                    <th><span>Presales Architect</span></th>
                    <th><span>Default Project Margin</span></th>
                    <th><span>Subcontract Project Margin</span></th>
                    <th><span>PMpercentage</span></th>
                    <th><span>Risk (%)</span></dt></th>
                </tr>
                </thead>
                <tbody >
                    <td><span>{{vm.project.accoutManager}}</span></td>
                    <td><span>{{vm.project.presalesArchitect}}</span></td>
                    <td><span>{{vm.project.defaultProjectMargin}}</span></td>
                    <td><span>{{vm.project.subcontractProjectMargin}}</span></td>
                    <td><span>{{vm.project.pmpercentage}}</span></td>
                    <td><span>{{vm.project.risk}}</span></td>
                </tbody>
            </table>
        </div>
    </dl>

    <h4><span>Project Total Cost (in $)</span></h4>

    <dl class="dl-horizontal jh-entity-details">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>Engineering Cost</span></th>
                    <th><span>PM Cost</span></th>
                    <th><span>Total cost (w/margin)</span></th>
                    <th><span>Project Total (w/risk)</span></th>

                </tr>
                </thead>
                <tbody>
                <td><h4><span class="label label-success">{{vm.engTotal |number:0}}</span></h4></td>
                <td><h4><span class="label label-info" >{{vm.pmTotal | number:0}}</span></h4></td>
                <td><h4><span class="label label-info">{{vm.engTotal + vm.pmTotal + ((vm.engTotal + vm.pmTotal)*vm.project.defaultProjectMargin/100) | number:0 }}</span></h4></td>
                <td><h4><span class="label label-primary" >{{vm.engTotal + vm.pmTotal + ((vm.engTotal + vm.pmTotal)*vm.project.defaultProjectMargin/100) + ((vm.engTotal + vm.pmTotal)*vm.project.risk/100) | number:0}}</span></h4></td>
                </tbody>
            </table>
        </div>
    </dl>



    <h4 align="center"><span>Phases</span></h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="10%" class="table-responsive">Name</th>
                <th width="10%" class="table-responsive">Task Name</th>
                <th width="5%" class="table-responsive">Estimated Hours</th>
                <th width="20%" class="table-responsive">Resource</th>
                <th width="5%" class="table-responsive">Cost</th>
                <th width="10%" class="table-responsive">Number of Resources</th>
                <th width="10%" class="table-responsive">Task Subtotal</th>
                <th width="10%" class="table-responsive">Phase Total</th>
                <th width="10%" class="table-responsive">Phase Total w/Margin</th>
                <th width="10%" class="table-responsive">Total Phase Hours</th>


            </tr>
            </thead>
        </table>
        <table class="table table-bordered table-striped" ng-repeat="phase in vm.viewData track by phase.id">

            <tbody >
                <td width="10%" class="table-responsive"><a ui-sref="phase-detail({id:phase.id})">{{phase.name}}</a></td>
                <td width="10%" class="table-responsive"></td>
                <td width="5%" class="table-responsive"></td>
                <td width="20%" class="table-responsive"></td>
                <td width="5%" class="table-responsive"></td>
                <td width="10%" class="table-responsive"></td>
                <td width="10%" class="table-responsive"></td>
                <td width="10%" class="table-responsive">{{phase.subTotal}}</td>
                <td width="10%" class="table-responsive">{{phase.subTotal + (phase.subTotal*vm.project.defaultProjectMargin/100) | number:0}}</td>
                <td width="10%" class="table-responsive">{{phase.phaseEstHours}}</td>


                <tr ng-show="phase.tasks.length">

                    </tr>
                    <tr ng-show="phase.tasks.length" ng-repeat="task in phase.tasks">
                        <td width="10%" class="table-responsive"></td>
                        <td width="10%" class="table-responsive"><a ui-sref="task-detail({id:task.id})">{{task.name}}</a></td>
                        <td width="5%" class="table-responsive">{{task.estimatedHours}}</td>
                        <td width="20%" class="table-responsive">{{task.resource}}</td>
                        <td width="5%" class="table-responsive">{{task.cost}}</td>
                        <td width="10%" class="table-responsive">{{task.numberOfResources}}</td>
                        <td width="10%" class="table-responsive">{{task.subTotal}}</td>
                        <td width="10%" class="table-responsive"></td>
                        <td width="10%" class="table-responsive"></td>
                        <td width="10%" class="table-responsive"></td>
                    </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="project-detail.edit({id:vm.project.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
    <button type="button" ng-click="exp(vm.project.id)" class="btn btn-warning">
        <span class="glyphicon glyphicon-export"></span>
        <span class="hidden-sm-down">Export as csv</span>
    </button>
</div>
