
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGW_SKU_COSTLabel">Create or edit a GW SKU COST</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gW_SKU_COST.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gW_SKU_COST.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sku">Sku</label>
            <select class="form-control" name="sku" ng-model="vm.gW_SKU_COST.sku" id="field_sku">
                <option value="GW_PS_VIRT">GW_PS_VIRT</option>
                <option value="GW_PS_SYSTEMS">GW_PS_SYSTEMS</option>
                <option value="GW_PS_STORAGE">GW_PS_STORAGE</option>
                <option value="GW_PS_SEC">GW_PS_SEC</option>
                <option value="GW_PS_PROJMNGMT">GW_PS_PROJMNGMT</option>
                <option value="GW_PS_PC">GW_PS_PC</option>
                <option value="GW_PS_NETWORK">GW_PS_NETWORK</option>
                <option value="GW_PS_MS">GW_PS_MS</option>
                <option value="GW_PS_MOBILITY">GW_PS_MOBILITY</option>
                <option value="GW_PS_INT_FLD">GW_PS_INT_FLD</option>
                <option value="GW_PS_COLLAB">GW_PS_COLLAB</option>
                <option value="GW_PS_CLOUD">GW_PS_CLOUD</option>
                <option value="GW_PS_APPS">GW_PS_APPS</option>
                <option value="GW_PS_AI">GW_PS_AI</option>
                <option value="GW_CONSULTING_VIRT">GW_CONSULTING_VIRT</option>
                <option value="GW_CONSULTING_STORAGE">GW_CONSULTING_STORAGE</option>
                <option value="GW_CONSULTING_SEC">GW_CONSULTING_SEC</option>
                <option value="GW_CONSULTING_NET">GW_CONSULTING_NET</option>
                <option value="GW_CONSULTING_MS">GW_CONSULTING_MS</option>
                <option value="GW_CONSULTING_COLLAB">GW_CONSULTING_COLLAB</option>
                <option value="GW_CONSULTING_CLD">GW_CONSULTING_CLD</option>
                <option value="GW_CONSULTING_AI">GW_CONSULTING_AI</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_skill">Skill</label>
            <select class="form-control" name="skill" ng-model="vm.gW_SKU_COST.skill" id="field_skill">
                <option value="INT1">INT1</option>
                <option value="INT2">INT2</option>
                <option value="INT3">INT3</option>
                <option value="ENG1">ENG1</option>
                <option value="ENG2">ENG2</option>
                <option value="ENG3">ENG3</option>
                <option value="CSLTG">CSLTG</option>
                <option value="PC">PC</option>
                <option value="PM1">PM1</option>
                <option value="PM2">PM2</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                    ng-model="vm.gW_SKU_COST.cost"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
